*{
    margin: 0;
    padding: 0;
}
.gallery{
    margin-left: 5%;
    width: 90%;
    height: 1108px;
    background-color: rgb(236, 229, 228);
    padding: 15px;
}
.name{
    text-decoration: underline;
    text-decoration-color: blue;
    text-align: center;
    padding: 10px;
}
.img-container {
    float: left;
    width: 32.5%;
    padding: 5px;
  }
  p{
      text-align: center;
  }